// VARIABLES IMPORT
@import "./partial/variables.scss";

// RESET 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

// REMOVE SCROLLBAR

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

// GLOBAL
.container{
  padding: 0 40px;
}

//ANIMATION

.width-grow-animation{
  animation: width-grow 1s forwards;
}

@keyframes width-grow {
  from{
    opacity: 0;
    width: 0px;
  }

  to{
    width: 150px;
    opacity: 1;
  }
}

.width-reduce-animation{
  animation: width-reduce 1s forwards;
}

@keyframes width-reduce {
  from{
    opacity: 1;
    width: 150px;
  }

  to{
    width: 0px;
    opacity: 0;
  }
}
